{% extends 'admin_lte/base/base.html' %}
{% load crispy_forms_tags %}
{% load admin_lte_tags %}
{% block content %}

<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-md-4">
            {{ form.title|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            {{ form.description|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            {{ form.poster|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            {{ form.gallery|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            {{ form.url|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-1">
            <strong>Типы кино*</strong>
        </div>
        <div class="col-md-1">
            {{ form.is_3d|as_crispy_field }}
        </div>
        <div class="col-md-1">
            {{ form.is_2d|as_crispy_field }}
        </div>
        <div class="col-md-1">
            {{ form.is_imax|as_crispy_field }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>


{% endblock %}