{% extends 'admin_lte/base/base.html' %}
{% load static %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ title }}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="admin_table" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>Кинотеатр</th>
                                <th>Описание</th>
                                <th>Условия</th>
                                <th>Лого</th>
                                <th>Баннер</th>
                                <th>Галерея</th>
                                <th>SEO</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% for cinema in cinemas %}
                                <td>{{ cinema.pk }}</td>
                                <td>{{ cinema.name }}</td>
                                <td>{{ cinema.description }}</td>
                                <td>{{ cinema.condition }}</td>
                                <td>{{ cinema.logo }}</td>
                                <td>{{ cinema.banner_image }}</td>
                                <td>{{ cinema.gallery }}</td>
                                <td>{{ cinema.seo_block }}</td>
                                {% endfor %}
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
{% endblock %}

