{% extends 'admin_lte/base/base.html' %}
{% load crispy_forms_tags %}
{% load admin_lte_tags %}
{% load static %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">
        <div class="col-md-6">
            {{ form.title|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            {{ form.description|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            {{ form.condition|as_crispy_field }}
        </div>
    </div>

    <!--Logo-->
    <div class="form-row my-3">
        <div class="col-md-12"><p style="align-content: center"><b>Логотип*:</b></p></div>
        <div class="col-md-3 offset-md-2">
            <img id="logo_preview" src="{% static 'cinema/dist/img/preview_upload.png' %}" width="200px"
                 height="125px"
                 style="max-width: 300px ">
        </div>
        <div class="col-md-2" style="display: flex; align-items: center">
            <button onchange="showPreviewLogo(event)" class="btn-upload btn btn-outline-success btn-file">
                <span>Загрузить</span>
                {{ form.logo }}
            </button>
        </div>
        <div class="col-md-2" style="display: flex; align-items: center">
            <button type="button" id="delete-logo" class="btn-upload btn btn-outline-danger btn-file">Удалить</button>
        </div>
    </div>
    <!--End Logo-->

    <!--Banner-->
    <div class="form-row my-3">
        <div class="col-md-12"><p style="align-content: center"><b>Фото верхнего баннера*:</b></p></div>
        <div class="col-md-3 offset-md-2">
            <img id="banner_preview" src="{% static 'cinema/dist/img/preview_upload.png' %}" width="200px"
                 height="125px"
                 style="max-width: 300px ">
        </div>
        <div class="col-sm-2" style="display: flex; align-items: center">
            <button type="button" onchange="showPreviewBanner(event)" class="btn-upload btn btn-outline-success btn-file"
                    style="display: block; min-width: 100px">
                Загрузить
                {{ form.banner }}
            </button>
        </div>
        <div class="col-md-2" style="display: flex; align-items: center">
            <button type="button" id="delete-banner" class="btn-upload btn btn-outline-danger btn-file">Удалить</button>
        </div>
    </div>
    <!--End Banner-->

    <div class="form-row">
        <div class="col-md-4">
            {{ form.gallery|as_crispy_field }}
        </div>
    </div>

    <hr class="my-5">
    {% show_form_seo seo %}

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

{% endblock %}