{% extends 'admin_lte/base/base.html' %}
{% load crispy_forms_tags %}
{% load admin_lte_tags %}
{% load static %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-md-6">
            {{ cinema.title|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            {{ cinema.description|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            {{ cinema.condition|as_crispy_field }}
        </div>
    </div>

    <!--Logo-->
    <div class="form-row my-3">
        <div class="col-md-12"><p style="align-content: center"><b>Логотип*:</b></p></div>
        <div class="col-md-3 offset-md-2">
            <img id="logo_preview" src="{{ cinema.instance.logo.url }}" width="200px"
                 height="125px"
                 style="max-width: 300px ">
        </div>
        <div class="col-md-2" style="display: flex; align-items: center">
            <button onchange="showPreviewLogo(event)" class="btn-upload btn btn-outline-success btn-file">
                <span>Загрузить</span>
                {{ cinema.logo }}
            </button>
        </div>
        <div class="col-md-2" style="display: flex; align-items: center">
            <button type="button" id="delete-logo" class="btn-upload btn btn-outline-danger btn-file">Удалить</button>
        </div>
    </div>
    <!--End Logo-->

    <!--Banner-->
    <div class="form-row my-3">
        <div class="col-md-12"><p style="align-content: center"><b>Фото верхнего баннера*:</b></p></div>
        <div class="col-md-3 offset-md-2">
            <img id="banner_preview" src="{{ cinema.instance.banner.url }}" width="200px"
                 height="125px"
                 style="max-width: 300px ">
        </div>
        <div class="col-sm-2" style="display: flex; align-items: center">
            <button type="button" onchange="showPreviewBanner(event)" class="btn-upload btn btn-outline-success btn-file"
                    style="display: block; min-width: 100px">
                Загрузить
                {{ cinema.banner }}
            </button>
        </div>
        <div class="col-md-2" style="display: flex; align-items: center">
            <button type="button" id="delete-banner" class="btn-upload btn btn-outline-danger btn-file">Удалить</button>
        </div>
    </div>
    <!--End Banner-->

    <div class="form-row">
        <div class="col-md-6">
            {{ cinema.gallery|as_crispy_field }}
        </div>
    </div>

    <hr class="my-5">
    <!--    {% show_halls_table halls %-->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Список залов</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="d-flex flex-row-reverse mb-3">
                                {% add_button 'admin_add_hall' %}
                            </div>
                            <table id="admin_table" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Дата создания</th>
                                    {% if halls %}
                                    <th width="40"></th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for hall in halls %}
                                <tr>
                                    <!-- TODO Сделать вывод залов для конкретных кинотеатров-->
                                    <td>{{ hall.name }}</td>
                                    <td><!-- TODO Сделать поле Дата создания--></td>
                                    {% if halls %}
                                    <td>
                                        {% table_buttons 'admin_edit_hall' 'admin_delete_hall' hall.pk %}
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>

    <hr class="my-5">
    {% show_form_seo seo %}

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

{% endblock %}