{% extends 'admin_lte/base/base.html' %}
{% load crispy_forms_tags %}
{% load admin_lte_tags %}
{% load static %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-md-6">
            {{ form.title|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            {{ form.description|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            {{ form.condition|as_crispy_field }}
        </div>
    </div>
    <!--Logo-->
    <div class="form-row my-3">
        <div class="col-md-12 mb-3"><span class="font-weight-bold">{{ form.logo.label }}*:</span></div>
        <div class="col-md-3 offset-md-2">
            <img id="logo_preview"
                 class="form-img-preview"
                 src="{{ form.instance.logo.url }}">
        </div>
        <div class="row btn-group-img-control">
            <div class="col-md-1">
                <button name="logo"
                        type="button"
                        onchange="showPreview(name, event)"
                        class="btn btn-upload btn-outline-success btn-file btn-img-control">
                    <span>Загрузить</span>
                    {{ form.logo }}
                </button>
            </div>
            <div class="col-md-1">
                <button name="logo"
                        type="button"
                        onclick="deletePreview(name, event)"
                        class="btn btn-upload btn-outline-danger btn-file btn-img-control">
                    <span>Удалить</span>
                </button>
            </div>
        </div>
    </div>
    <!--End Logo-->
    <!--Banner-->
    <div class="form-row my-3">
        <div class="col-md-12 mb-3"><span class="font-weight-bold">{{ form.banner.label }}*:</span></div>
        <div class="col-md-3 offset-md-2">
            <img id="banner_preview"
                 class="img-fluid form-img-preview"
                 src="{{ form.instance.banner.url }}">
        </div>
        <div class="row btn-group-img-control">
            <div class="col-md-1">
                <button name="banner"
                        type="button"
                        onchange="showPreview(name, event)"
                        class="btn-upload btn btn-outline-success btn-file btn-img-control">
                    <span>Загрузить</span>
                    {{ form.banner }}
                </button>
            </div>
            <div class="col-md-1">
                <button name="banner"
                        type="button"
                        onclick="deletePreview(name, event)"
                        class="btn-upload btn btn-outline-danger btn-file btn-img-control">
                    <span>Удалить</span>
                </button>
            </div>
        </div>
    </div>
    <!--End Banner-->
    <hr class="my-5">
    <div id="gallery" class="form-gallery">
        <div class="col-md-12 mb-3"><span class="font-weight-bold">Галерея:</span></div>
        <div id="form_set" class="mb-5">
            {{ formset.management_form }}
            {% for form in formset %}
            <div id="{{ form.prefix }}-form" style="display: inline-block">
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                <a onclick="delete_image(this.id)" id="{{ form.prefix }}">
                    <button type="button" class="close btn-form-delete" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </a>
                <div class="text-center">
                    <img id="{{ form.prefix }}-image"
                         class="form-gallery-img"
                         src="{{ form.instance.image.url }}">
                </div>
                <div class="text-center">
                    <a id="{{ form.prefix }}"
                       onchange="preview_gallery(this.id)"
                       class="btn btn-outline-success btn-file btn-gallery-load"><span>Загрузить</span>
                        {% for visible in form.visible_fields %}
                        {{ visible }}
                        {% endfor %}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="empty_form" class="d-none">
            <div id="form-__prefix__-form" style="display: inline-block">
                <a id="form-__prefix__" onclick="delete_image(this.id)">
                    <button type="button" class="close btn-form-delete" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </a>
                <input type="hidden" name="form-__prefix__-id" id="id_form-__prefix__-id">
                <div class="text-center">
                    <img id="form-__prefix__-image"
                         class="form-gallery-img"
                         src="{% static 'cinema/dist/img/preview_upload.png' %}">
                </div>
                <div class="text-center">
                    <a id="form-__prefix__"
                       onchange="preview_gallery(this.id)"
                       class="btn btn-outline-success btn-file btn-gallery-load">
                        <span>Загрузить</span>
                        <input type="file" name="form-__prefix__-image" accept="image/*" id="id_form-__prefix__-image">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-block btn-success ml-5 btn-gallery-add" id="add_img">Добавить</button>
        </div>
    </div>
    <hr class="my-5">
    <!--    {% show_halls_table halls %-->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Список залов</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="d-flex flex-row-reverse mb-3">
                                <button type="button" class="btn btn-info add-new">
                                    <a class="text-decoration-none text-reset" href="{% url 'admin_add_hall' pk %}">
                                        <i class="fa fa-plus"></i> Добавить
                                    </a>
                                </button>
                            </div>
                            <table id="admin_table" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="33%">Название зала</th>
                                    <th width="66%">Дата создания</th>
                                    {% if halls %}
                                    <th width="40"></th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for hall in halls %}
                                <tr>
                                    <td>{{ hall.title }}</td>
                                    <td>{{ hall.time_create }}</td>
                                    {% if halls %}
                                    <td>
                                        {% table_buttons 'admin_edit_hall' 'admin_delete_hall' hall.pk %}
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <hr class="my-5">
    {% show_form_seo seo %}
    <hr class="my-5">
    <div class="d-flex">
        <a href="{% url 'admin_cinema' %}">
            <button type="button" class="btn btn-secondary">Отменить</button>
        </a>
        <button type="submit" class="btn btn-primary mx-3">Сохранить</button>
        <button type="reset" class="btn btn-primary ml-auto">Очистить</button>
    </div>
</form>
{% endblock %}