{% extends 'admin_lte/base/base.html' %}
{% load admin_lte_tags %}
{% block content %}

<div class="d-flex flex-row-reverse mb-3">
    <button type="button" class="btn btn-info add-new">
        <a class="text-decoration-none text-reset" href="{% url 'admin_add_cinema' %}">
            <i class="fa fa-plus"></i> Добавить
        </a>
    </button>
</div>
<!--# TODO сделать список кинотеатров в виде лого-->
<table id="table" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Кинотеатр</th>
        <th>Описание</th>
        <th>Условия</th>
        <th>Лого</th>
        <th>Баннер</th>
        <th>Галерея</th>
        <th>SEO</th>
        {% if cinemas %}
        <th width="40"></th>
        {% endif %}

    </tr>
    </thead>
    <tbody>
    {% for cinema in cinemas %}
    <tr>
        <td>{{ cinema.name }}</td>
        <td>{{ cinema.description }}</td>
        <td>{{ cinema.condition }}</td>
        <td>{{ cinema.logo }}</td>
        <td>{{ cinema.banner_image }}</td>
        <td>{{ cinema.gallery }}</td>
        <td>{{ cinema.seo_block }}</td>
        {% if cinemas %}
        <td>
            {% table_buttons admin_edit_cinema admin_delete_cinema cinema.pk %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

