{% extends 'admin_lte/base/base.html' %}
{% load static %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ title }}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="admin_table" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>Название</th>
                                <th>Описание</th>
                                <th>Главное изображение</th>
                                <th>Галерея</th>
                                <th>URL</th>
                                <th>3D</th>
                                <th>2D</th>
                                <th>IMAX</th>
                                <th>SEO</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% for film in films %}
                                <td>{{ film.pk }}</td>
                                <td>{{ film.name }}</td>
                                <td>{{ film.description }}</td>
                                <td>{{ film.main_image }}</td>
                                <td>{{ film.gallery }}</td>
                                <td>{{ film.URL }}</td>
                                <td>{{ film.three_D }}</td>
                                <td>{{ film.two_D }}</td>
                                <td>{{ film.IMAX }}</td>
                                <td>{{ film.seo_block }}</td>
                                {% endfor %}
                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <th>№</th>
                                <th>Название</th>
                                <th>Описание</th>
                                <th>Главное изображение</th>
                                <th>Галерея</th>
                                <th>URL</th>
                                <th>3D</th>
                                <th>2D</th>
                                <th>IMAX</th>
                                <th>SEO</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
{% endblock %}

