{% load crispy_forms_tags %}
{% load admin_lte_tags %}

<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-md-4">
            {{ form.name|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            {{ form.description|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            {{ form.condition|as_crispy_field }}
        </div>
    </div>
    <!--TODO сделать редактор изображений-->
    <div class="form-row">
        <div class="col-md-4">
            {{ form.logo|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            {{ form.banner_image|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            {{ form.gallery|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            {% show_halls_table %}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            {{ form.seo_block|as_crispy_field }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>