{% extends 'admin_lte/base/base.html' %}
{% load crispy_forms_tags %}
{% load admin_lte_tags %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <p>Вы хотите удалить {{ form.title }}?</p>
    <div class="d-flex">
        <a href="{% url 'admin_edit_cinema' cinema_id %}">
            <button type="button" class="btn btn-secondary mr-3">Отменить</button>
        </a>
        <button onclick="return confirm('Вы хотите удалить {{ form.title }}?');" type="submit" class="btn btn-danger">
            Удалить
        </button>
    </div>
</form>
{% endblock %}