{% extends 'admin_lte/base/table_layout.html' %}
{% load admin_lte_tags %}
{% block table %}
<table id="admin_table" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>№</th>
        <th>URL</th>
        <th>Заголовок</th>
        <th>Ключевые слова</th>
        <th>Описание</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for seo in seo_s %}
        <td>{{ seo.pk }}</td>
        <td>{{ seo.URL }}</td>
        <td>{{ seo.title }}</td>
        <td>{{ seo.keyword }}</td>
        <td>{{ seo.description }}</td>
        {% endfor %}
        <td>
            {% table_buttons %}
        </td>
    </tr>

    </tbody>
</table>
{% endblock %}