{% extends 'admin_lte/base/base.html' %}
{% load admin_lte_tags %}
{% block content %}
<div class="d-flex flex-row-reverse mb-3">
    {% add_button 'admin_add_user' %}
</div>
<table id="table" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th width="40">№</th>
        <th>Дата регистрации</th>
        <th>День рождения</th>
        <th>Email</th>
        <th>Телефон</th>
        <th>ФИО</th>
        <th>Псевдоним</th>
        <th>Город</th>
        {% if users %}
        <th width="40"></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <!--TODO Сделать чтобы значения в ячейках не переносились на новую строку-->
        <td>{{ user.pk }}</td>
        <td><!--TODO Date of registration--></td>
        <td>{{ user.date }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.name }} {{ user.surname }}</td>
        <td>{{ user.nickname }}</td>
        <td>{{ user.city }}</td>
        {% if users %}
        <td>
            {% table_buttons admin_edit_user admin_delete_user user.pk %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}