{% extends 'pages/bootstrap.html' %}
{% load bootstrap4 %}
{% load static %}
{% load pages_tags %}
{% block bootstrap4_content %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'dist/css/base.css'%}">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
</head>
<body>
<!-- __________________________________________ HEADER __________________________________________ -->
<header class="container-fluid">

    <div class="row row-cols-2 py-3 mb-4 border-bottom fixed-top">
        <!--Banner-->
        <div class="col-md-12 text-center py-4 my-2" style="border: 2px solid black">
        <span>
            Banner
        </span>
        </div>
        <!--Banner-->

        <!--    Logo-->
        <div class="col col-md-3 offset-md-1 align-self-center text-center">
            <img class="img-fluid" src="{% static 'dist/img/LogoKinoCMS.png' %}">
        </div>
        <!--    Logo-->
        <div class="row">

            <!--        Search-->
            <div class="col col-md-3 offset-md-1 align-self-center">
                <form role="search">
                    <input class="form-control" type="search" placeholder="Search"
                           aria-label="Search" style="border: 2px solid black">
                </form>
            </div>
            <!--        Search-->

            <!-- Section: Social media -->
            <div class="col col-md-3 align-self-center ">
                {% social_media_icons %}
            </div>
            <!-- Section: Social media -->

            <!--        Numbers-->
            <div class="row offset-md-1">
                <div class="col-md-12">
                <span>
                    Num1
                </span>
                </div>
                <div class="col-md-12">
                <span>
                    Num2
                </span>
                </div>
            </div>
            <!--        Numbers-->

            <!--        Navbar-->
            <div class="col col-md-8">
                {% navbar %}
            </div>
            <!--        Navbar-->

            <!--        Lang-->
            <div class="col col-md-1 text-center">
                <span>LANG</span>
            </div>
            <!--        Lang-->
        </div>


    </div>


</header>

<main class="container">

</main>


<!-- __________________________________________ FOOTER __________________________________________ -->
<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-6 py-5 my-5 border-top fixed-bottom">
    <!--  images  -->
    <div class="col col-sm-12 col-md-3 offset-md-1 mb-3">
        <span style="font-size: 1.25em">Мобильные приложения</span>
        <div class="row">
            <div class="col-6 mb-3">
                <img class="img-fluid" src="{% static 'dist/img/google-play-badge.png' %}">
            </div>
            <div class="col-6 mb-3">
                <img class="img-fluid"
                     src="{% static 'dist/img/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.png' %}">
            </div>
        </div>
        <span style="font-size: 0.75em">Разработка сайтов: AVADA-MEDIA</span>
    </div>
    <!--  images  -->
    <div class="col col-sm-12 col-md-2 offset-md-1 mb-3">
        <h5>Афиша</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Расписание</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Скоро в прокате</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Кинотеатры</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Акции</a></li>
        </ul>
    </div>
    <div class="col col-sm-12 col-md-2 offset-md-1 mb-3">
        <h5>О кинотеатре</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Новости</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Реклама</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Кафе-бар</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Контакты</a></li>
        </ul>
    </div>
    <div class="col col-sm-12 col-md-2 mb-3">
        <!-- Section: Social media -->
        {% social_media_icons %}
        <!-- Section: Social media -->
    </div>
    <!-- Copyright -->
    <div class="col col-sm-12 col-md-12 mb-3 text-center text-muted" style="font-size: 0.75em">
        <span>
            ©KinoCMS 2016, All right reserved
        </span>
    </div>
    <!-- Copyright -->
</footer>
</body>
{% endblock %}
