{% extends 'pages/base/bootstrap.html' %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% load pages_tags %}
{% block bootstrap4_content %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'pages/base.css' %}">
    <link rel="stylesheet" href="{% static 'pages/navbar.css' %}">
</head>
<body>
<!-- __________________________________________ HEADER __________________________________________ -->

<header class="container-fluid mb-1 border-bottom">

    <!--Banner-->
    <div class="row head-banner ">
        <div class="mx-auto mt-3">
            <p>Покупайте электронные билеты</p>
            <p>и обходите очереди на кассах!</p>
            <p>ОТПРАВЛЯЙТЕСЬ СРАЗУ В ЗАЛ!</p>
        </div>

    </div>
    <!--Banner-->

    <div class="row my-3">
        <div class="col-md-12">
            <div class="row my-1">
                <!--Logo-->
                <div class="logo col-md-1 offset-md-1 d-none d-lg-block">
                    <a class="text-decoration-none text-reset" href="{% url 'main' %}">
                        <div class="display-4">KinoCMS</div>
                    </a>
                </div>
                <!--Logo-->
                <!--Search-->
                <div class="col-md-2 offset-2">
                    <form role="search">
                        <input class="form-control" type="search" placeholder="{% trans 'Search' %}"
                               aria-label="Search" style="border: 2px solid black">
                    </form>
                </div>
                <!--Search-->

                <!--Social Media Icons-->
                <div class="col-md-2">
                    {% social_media_icons %}
                </div>
                <!--Social Media Icons-->

                <!--Phone numbers-->
                <div class="col-md-2">
                    <p>(999) 787-45-87</p>
                    <p>(999) 787-45-88</p>
                </div>
                <!--Phone numbers-->
                <div class="col-md-1">

                </div>
                <!--Login-->
                <div class="col-md-1">
                    <div class="row justify-content-end mr-4">
                        <strong>
                            <button class="btn btn-outline btn-sm">
                                <small class="text-dark">{% trans 'Войти / Регистрация' %}</small>
                            </button>
                        </strong>
                        <select id="language" name="language" class="px-2 py-1 m-1">
                            <option value="ru">рус</option>
                            <option value="ua">укр</option>
                        </select>
                    </div>
                </div>
                <!--Login-->
            </div>
            <div class="row">
                <!--Navbar-->
                <div class="col-md-11">
                    {% navbar %}
                </div>
                <!--Navbar-->
            </div>
        </div>
    </div>
</header>

<main class="container">
    {% block content %}

    {% endblock %}

</main>

<!-- __________________________________________ FOOTER __________________________________________ -->
<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-6 py-5 my-5 border-top">
    <!--  images  -->
    <div class="col col-md-3 offset-md-1 mb-3">
        <span style="font-size: 1.25em">Мобильные приложения</span>
        <div class="row">
            <div class="col-6 mb-3">
                <img class="rounded mx-auto d-block w-50 mb-1" src="{% static 'pages/img/google-play-badge.png' %}">
            </div>
            <div class="col-6 mb-3">
                <img class="rounded mx-auto d-block w-50 mb-1"
                     src="{% static 'pages/img/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.png' %}">
            </div>
        </div>
        <span style="font-size: 0.75em">Разработка сайтов: AVADA-MEDIA</span>
    </div>
    <!--  images  -->
    <div class="col col-sm-12 col-md-2 offset-md-1 mb-3">
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{% url 'poster' %}" class="nav-link p-0 text-dark"><h5>Афиша</h5></a>
            </li>
            <li class="nav-item mb-2"><a href="{% url 'schedule' %}" class="nav-link p-0 text-muted">Расписание</a></li>
            <li class="nav-item mb-2"><a href="{% url 'soon' %}" class="nav-link p-0 text-muted">Скоро в прокате</a>
            </li>
            <li class="nav-item mb-2"><a href="{% url 'cinemas' %}" class="nav-link p-0 text-muted">Кинотеатры</a></li>
            <li class="nav-item mb-2"><a href="{% url 'promo' %}" class="nav-link p-0 text-muted">Акции</a></li>
        </ul>
    </div>
    <div class="col col-sm-12 col-md-2 offset-md-1 mb-3">
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{% url 'about' %}" class="nav-link p-0 text-dark"><h5>О кинотеатре</h5>
            </a></li>
            <li class="nav-item mb-2"><a href="{% url 'news' %}" class="nav-link p-0 text-muted">Новости</a></li>
            <li class="nav-item mb-2"><a href="{% url 'advertisement' %}" class="nav-link p-0 text-muted">Реклама</a>
            </li>
            <li class="nav-item mb-2"><a href="{% url 'cafe' %}" class="nav-link p-0 text-muted">Кафе-бар</a></li>
            <li class="nav-item mb-2"><a href="{% url 'contacts' %}" class="nav-link p-0 text-muted">Контакты</a></li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-2 mb-3">
        <!-- Section: Social media -->
        {% social_media_icons %}
        <!-- Section: Social media -->
    </div>
    <!-- Copyright -->
    <div class="col-sm-12 col-md-12 mb-3 text-center text-muted" style="font-size: 0.75em">
        <span>
            ©KinoCMS 2016, All right reserved
        </span>
    </div>
    <!-- Copyright -->
</footer>


</body>
{% endblock %}


